<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">
  <header id="page-topbar">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box" style="background-color: #212529;">
          <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
              <img src="assets/images/logo.svg" alt="" height="22" />
            </span>
            <span class="logo-lg">
              <img src="assets/images/logo-dark.png" alt="" height="17" />
            </span>
          </a>

          <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
              <img src="assets/images/logo-light.svg" alt="" height="22" />
            </span>
            <span class="logo-lg">
              <img src="assets/images/logo-light.png" alt="" height="60" />
            </span>
          </a>
        </div>

        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
          <i class="fa fa-fw fa-bars"></i>
        </button>

        <!-- App Time -->
        <div class="d-lg-block">
          <button type="button" class="btn header-item waves-effect">
            <h3 class="d-none d-xl-inline-block mb-0" id="clock"></h3>
          </button>
        </div>

        <!-- App Setting Time -->
      </div>

      <div class="d-flex">
        <div class="d-lg-block">
          <button type="button" class="btn header-item waves-effect">
            <h4 class="d-none d-xl-inline-block mb-0">
              <i class="mdi mdi-login-variant"></i> {{checkinTime | date:'HH:mm'}}
            </h4>
          </button>
        </div>
        <div class="d-lg-block">
          <button type="button" class="btn header-item waves-effect">
            <h4 class="d-none d-xl-inline-block mb-0">
              <i class="mdi mdi-logout-variant"></i> {{checkoutTime | date:'HH:mm'}}
            </h4>
          </button>
        </div>
        <div class="dropdown d-none d-lg-inline-block ms-1">
          <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
            <i class="bx bx-fullscreen"></i>
          </button>
        </div>

        <div class="dropdown d-inline-block">
          <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-xl-inline-block ms-1" key="t-henry">{{nameUser}}</span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <a ng-if="isLogin" class="dropdown-item text-danger" href="#" ng-click="logout()"><i
                class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
              <span key="t-logout">Logout</span></a>
            <a ng-if="!isLogin" class="dropdown-item text-success" ng-href="/#!/login"><i
                class="bx bx-power-off font-size-16 align-middle me-1 text-success"></i>
              <span key="t-logout">Login</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- ========== Left Sidebar Start ========== -->
  <div class="vertical-menu" style="background-color: #212529;">
    <div data-simplebar class="h-100">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">
          <li class="menu-title">Menu</li>
          <li>
            <a ng-href="/#!/hotel-room" class="waves-effect">
              <i class="bx bxs-grid"></i>
              <span>Sơ đồ phòng</span>
            </a>
          </li>
          <li>
            <a ng-href="/#!/bookings">
              <i class="bx bx-log-in-circle"></i>
              <span>Booking</span>
            </a>
          </li>
          <li ng-show="isAdmin">
            <a ng-href="/#!/invoices">
              <i class="bx bx-receipt"></i>
              <span>Hoá đơn</span>
            </a>
          </li>
          <li ng-show="isAdmin">
            <a ng-href="/#!/statistical" class="waves-effect">
              <i class="bx bx-line-chart"></i>
              <span>Thống kê</span>
            </a>
          </li>
          <!-- Room -->
          <li ng-show="isAdmin">
            <a ng-href="/#!/room" class="waves-effect">
              <i class="bx bx-hotel"></i>
              <span>Phòng</span>
            </a>
          </li>
          <li ng-show="isAdmin">
            <a ng-href="/#!/service">
              <i class="bx bx-bell"></i>
              <span>Dịch vụ</span>
            </a>
          </li>
          <li>
            <a ng-href="/#!/customers" class="waves-effect">
              <i class="bx bx-user"></i>
              <span>Khách hàng</span>
            </a>
          </li>
          <!-- <li>
            <a ng-href="/#!/payment">
              <i class="bx bx-money"></i>
              <span>Payment</span>
            </a>
          </li>
          <li>
            <a ng-href="/#!/supply">
              <i class="bx bx-box"></i>
              <span>Supply</span>
            </a>
          </li> -->
          <li ng-show="isAdmin">
            <a ng-href="/#!/promotion">
              <i class="bx bx-barcode"></i>
              <span>Khuyến mại</span>
            </a>
          </li>
          <li ng-show="isAdmin">
            <a ng-href="/#!/accounts" class="waves-effect">
              <i class="bx bx-check-shield"></i>
              <span>Tài khoản</span>
            </a>
          </li>
          <li ng-show="isAdmin">
            <a ng-href="/#!/setting">
              <i class="bx bx-cog"></i>
              <span>Cấu hình</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Sidebar -->
    </div>
  </div>
  <!-- Left Sidebar End -->

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div ng-transclude></div>
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            2023 © NamViet Hotel.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Design & Develop by DevZ 171
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->
</div>
<!-- END layout-wrapper -->