<app-layout name="">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-4">Bảng cập nhật vật tư</h4>
                    <form>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formrow-username-input" class="form-label">Tên</label>
                                    <input ng-model="form.name" type="text" class="form-control"
                                        id="formrow-username-input" placeholder="Mời nhập tên">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formrow-quantity-input" class="form-label">Số lượng</label>
                                    <input ng-model="form.quantity" type="number" class="form-control"
                                        id="formrow-quantity-input" placeholder="Mời nhập số lượng">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formrow-address-input">Kiểu vật tư</label>
                                    <select ng-model="form.supplyType.id" class="form-select"
                                        aria-label="Default select example">
                                        <option ng-repeat="sup in supTypes" ng-value="sup.id">{{sup.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formrow-image-input" class="form-label">Ảnh</label>
                                    <input ng-model="form.image" type="file" class="form-control"
                                        id="formrow-image-input" placeholder="Mời chọn ảnh">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formrow-unit-input" class="form-label">Đơn vị</label>
                                    <input ng-model="form.unit" type="text" class="form-control" id="formrow-unit-input"
                                        placeholder="Mời nhập đơn vị">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formrow-status-input" class="form-label">Trạng thái</label><br>
                                    <input ng-model="form.status" ng-value="1" style="margin-left: 20px;"
                                        type="radio" class="form-check-input" name="anvaliable" />
                                    <label style="margin-left: 10px;">Đang hoạt động</label>
                                    <input ng-model="form.status" ng-value="0" style="margin-left: 40px;"
                                        type="radio" class="form-check-input" name="anvaliable" />
                                    <label style="margin-left: 10px;">Ngừng hoạt động</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="formrow-description-input">Mô tả</label>
                                <textarea ng-model="form.description" id="formrow-description-input"
                                    class="form-control" rows="3" placeholder="Mời nhập mô tả"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <button ng-click="update()" class="btn btn-secondary w-md">Cập nhật</button> <a href="/#!/supply" class="btn btn-secondary w-md"> Đóng</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</app-layout>